<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
            integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../public/style.css" />
        <title>Components</title>
    </head>
    <body>
        <div class="container">
            <div class="nav">
                <div class="logo">
                    <h1>Components</h1>
                </div>
                <ul class="nav-links">
                    <li class="nav-link"><a href="/slideshow">Slideshow</a></li>
                    <li class="nav-link"><a href="/cards">Cards</a></li>
                    <li class="nav-link"><a href="/form">Form</a></li>
                </ul>
            </div>
            <div class="slideshow">
                <div class="slideshow-container">
                    <div class="line"></div>
                    <i class="fas fa-arrow-left arrow left" id="leftArrow"></i>
                    <div class="image-container">
                        <img src="" alt="" class="img" id="img" />
                    </div>
                    <i class="fas fa-arrow-right arrow right" id="rightArrow"></i>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="slideshow"></div>
            <div class="seperator"></div>
        </div>
        <script src="./../public/app.js" type="module"></script>
    </body>
</html>
